<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Customer</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">New Customer</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>UserId</b>
    </div>
  </div>
</div>

<form action="/add" method="POST" novalidate>
  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control <%= errors && errors.firstName ? 'is-invalid' : '' %> <%= errors && errors.firstName ? 'is-invalid' : '' %>"
        id="firstName"
        name="firstName"
        value="<%= typeof formData !== 'undefined' ? formData.firstName : '' %>"
        placeholder="First Name"
      />
      <% if (errors && errors.firstName) { %>
      <div class="invalid-feedback d-block"><%= errors.firstName %></div>
      <% } %>
    </div>

    <div class="col">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control <%= errors && errors.lastName? 'is-invalid' : '' %>"
        id="lastName"
        name="lastName"
        value="<%= typeof formData !== 'undefined' ? formData.lastName: '' %>"
        placeholder="Last Name"
      />
      <% if (errors && errors.lastName) { %>
      <div class="invalid-feedback d-block"><%= errors.lastName %></div>
      <% } %>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="tel">Telephone</label>
      <input
        type="text"
        class="form-control <%= errors && errors.tel ? 'is-invalid' : '' %>"
        id="tel"
        name="tel"
        value="<%= typeof formData !== 'undefined' ? formData.tel : '' %>"
        placeholder="Telephone"
      />
      <% if (errors && errors.tel) { %>
      <div class="invalid-feedback d-block"><%= errors.tel %></div>
      <% } %>
    </div>

    <div class="col">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control <%= errors && errors.email? 'is-invalid' : '' %>"
        id="email"
        name="email"
        value="<%= typeof formData !== 'undefined' ? formData.email : '' %>"
        placeholder="Email"
      />
      <% if (errors && errors.email) { %>
      <div class="invalid-feedback d-block"><%= errors.email %></div>
      <% } %>
    </div>
  </div>

  <div class="form-group mb-4">
    <label for="details">Customer Details</label>
    <textarea
      class="form-control <%= errors && errors.details ? 'is-invalid' : '' %>"
      name="details"
      id="details"
      cols="15"
      rows="6"
      placeholder="Customer Details"
    ></textarea>
    <% if (errors && errors.details) { %>
    <div class="invalid-feedback d-block"><%= errors.details %></div>
    <% } %>
  </div>
  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Add Customer</button>
  </div>
</form>
